body {
    position: relative;
    width: 1440px;
    height: 2186px;

    background: #FAFAFA;
    mix-blend-mode: normal;
}
main {
    margin-top: 20px;
    margin-left: 81px;
}
a {
    color: #11222f;
    text-decoration: none;
    border-spacing: 10px;
}
a:hover {
    color: blue;
}

header {
    margin-top: 20px;
    margin-bottom: 10px;
    float: right;

    font-family: Hind;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 130%;
}
#nav-button {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-color: blue;
    background-color: blue;
    border-radius: 0px;
    color: white;
}
#nav-button:hover {
    border-color: black;
    background-color: black;
}

#border {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 0px;
}
#atas-kanan {
    position: absolute;
    width: 572px;
    height: 87px;
    left: 81px;
    top: 503px;

    font-family: Hind;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 130%;
    color:#111111;
}
#atas-kanan2{
    position: absolute;
    width: 666px;
    height: 90px;
    left: 84px;
    top: 600px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    color:#111111;
}
#atas-kiri {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;;
    /* margin-top: 5px; */
    /* margin-right: 80px; */
    display:grid;
    grid-template-columns: 30% auto;
    margin-right: 10px;
    /* width: 30%; */
    float: right;  
}
#siapa {
    /* Siapa yang kamu butuhkan? */
    position: absolute;
    width: 823px;
    height: 74px;
    left: 308px;
    top: 1157px;

    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
    /* or 78px */

    text-align: center;
}
.grid-container {
    top: 1235px;

    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
    text-align: left;
  }
#border-gambar{
    /* Rectangle 8 */
    position: absolute;
    width: 610px;
    height: 698px;
    left: 64px;
    top: 1303px;

    background: #FEFEFE;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 8px 56px rgba(228, 228, 228, 0.25);
    border-radius: 10px;
}
#border-gambar2{
    /* Rectangle 8 */
    position: absolute;
    width: 610px;
    height: 698px;
    right: 64px;
    top: 1303px;

    background: #FEFEFE;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 8px 56px rgba(228, 228, 228, 0.25);
    border-radius: 10px;
} 
.grid-container2 {
    top: 1235px;

    font-family: Hind;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
    text-align: right;
}  

 #border2 {
    width: 400px;
    height: 400px;
    padding: 5px;
    border-radius: 5px; 
    border-color: #0d1e2b;
 }
 #psikolog {
     /* Psikolog */
    position: absolute;
    width: 193px;
    height: 62px;
    left: 265px;
    top: 1746px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    /* or 62px */

    text-align: center;
 }
 /* //gambar atasnya psikolog */
 #psikolog-gambar {
    position: absolute;
    left: 110px;
 }
 #peer-gambar {
    position: absolute;
    right: 90px;
 }
 #peer {
    position: absolute;
    width: 304px;
    height: 62px;
    left: 919px;
    top: 1746px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    /* or 62px */

    text-align: center;
 }
 #seseorang {
     /* Seseorang yang sudah ahli di bidang psikologi dan memiliki ijin praktek. */


    position: absolute;
    width: 572px;
    height: 78px;
    left: 83px;
    top: 1840px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 140%;
    /* or 39px */

    text-align: center;

 }
 #mahasiswa-di {
     /* Mahasiswa di bidang psikologi yang tertarik menjadi konselor sebaya. */
    position: absolute;
    width: 572px;
    height: 78px;
    left: 785px;
    top: 1840px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
 }
 